.App {
  text-align: center;
}

.page {
  text-align: center;
  padding: 20px;
}

.info {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  width: 300px;
}

.info span,
.info button {
  display: block;
  margin: 10px auto;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3b71ca;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #3b83f8;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.pro {
  font-size: 20px;
}

.bio {
  font-size: 15px;
  width: 40%;
  background: #efefef;
  border-radius: 10px;
  padding: 15px;
}